
<p>___________________________________</p>
<h2>|  <%= - @article.title %> |</h2>
<p>___________________________________</p>

<p>___________________________________</p>
<h3>|<%= - @article.content %>|</h3>
<p>___________________________________</p>
